<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<br>
<br>
<a href="/calculatePath/">Расчет пути</a>.
<br>
<a href="/autoservice/">Перейти на главную</a>.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Добавить владельца:
<div class="column">
    <form action="#" th:action="@{/autoservice/createOwner/}" th:object="${owner}"
          method="post">
        <table>
            <tr>
                <td>ФИО:</td>
                <td><input type="text" th:field="*{initials}"></td>
            </tr>
            <tr>
                <div th:if="${#fields.hasAnyErrors()}">
                    <ul>
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </ul>
                </div>
                <td>Номер телефона:</td>
                <td><input type="text" th:field="*{number}"></td>
            </tr>
            <tr>
                <td>Электронная почта:</td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>

            <tr>
                <td>

                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br></form>
</body>
</html>